{% extends 'base2.html.twig' %} {% block title %}Mon compte -- My movie night{%
endblock %} {% block main %}
<div
  class="container-fluid d-flex flex-column align-items-center justify-content-start loginMain bgSite"
>
  <h2 class="colorBleuSombre">Mon profil</h2>
  <div class="border rounded-3 shadow-sm borderProfil col-10 col-md-4">
    <div class="container">
      
       <div class="col-10  p-4">
          <div class="p-2">
            <p class="colorBleuSombre">
              <strong>Pseudonyme :</strong> {{ app.user.username }}
            </p>
          </div>
          <div class="p-2">
            <p class="colorBleuSombre">
              <strong>Email :</strong> {{ app.user.email }}
            </p>
          </div>
          <div class="p-2">
            <p class="colorBleuSombre">
              <strong>Date de naissance :</strong> {{ app.user.birthday | date("d/m/Y")  }}
            </p>
          </div>
        <div class="row">
          <a class="p-2 col" href="{{ path('app_account_modify_profil') }}"
            >Modifier les informations de profil</a
          >
          <a class="p-2 col" href="{{ path('app_account_modify_pwd') }}"
            >Modifier le mot de passe</a
          >
        </div>
       </div>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary mt-3 col m-3"><a href="{{ path('app_home') }}" class="text-white">trouver un film</a></button>
    <button class="btn btn-primary mt-3 col m-3"><a href="{{ path('app_liste_favorites') }}" class="text-white">Ma liste de favoris</a></button>
  </div>
</div>

{% endblock %}
