{% extends 'base2.html.twig' %} {% block title %}Favoris de
{{ app.user.username }} - My movie night{% endblock %} {% block main %}

<div class="container-fluid">
  <div class="d-flex flex-column-reverse flex-sm-row testo">
    <div class="col-sm-3 col-md-4 col-lg-4 d-flex flex-column divScroll">
      <div class="divScroll-inner-flex-container d-flex flex-column h-100 pt-2">
        <h2 class="text-center colorBleuSombre">Mes favoris</h2>
        <div class="container flex-grow-1 divListFilm">
          {% for film in listToDisplay %}

          <div class="container listFilm my-1">
            <div
              class="row align-items-center justify-content-between text-center border border-1 border-primar rounded-2 filmInList"
            >
              <div class="col-3">
                <img
                  src="https://image.tmdb.org/t/p/original{{ film.posterPath }}"
                  alt="affiche du film {{ film.title }}"
                  class="posterFilmList rounded-1"
                />
              </div>
              <h5
                class="col-6 col-sm-4 col-md-4 col-lg-4 title d-sm-none d-md-none d-lg-block"
              >
                {{ film.title }}
              </h5>
              <p class="d-none synopsis">{{ film.synopsis }}</p>
              <p class="d-none addedAt">{{ film.addedAt }}</p>
              <p class="d-none genre">{{ film.genres }}</p>
              <p class="d-none duration">{{ film.runtimeMinutes }}</p>
              <p class="d-none tconst">{{ film.tconst }}</p>
              <h4 class="col-2 rating d-none d-sm-none d-md-none d-lg-block">
                {{ film.averageRating }}<i class="bi bi-star-fill"></i>
              </h4>
              <!-- Button modal history -->
              <div class="col-2">
                <button
                  type="button"
                  class="btn btn-primary my-2 d-none d-sm-none d-md-none d-lg-block"
                  data-bs-toggle="modal"
                  data-bs-target="#ModalHistory{{ film.tconst }}"
                  title="Ajouter à l'historique"
                >
                  <i class="bi bi-clock-history fs-5"></i>
                </button>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="ModalHistory{{ film.tconst }}"
                  tabindex="-1"
                  aria-labelledby="ModalLabelHistory{{ film.tconst }}"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3
                          class="modal-title fs-5"
                          id="ModalLabelHistory{{ film.tconst }}"
                        >
                          {{ film.title }}
                        </h3>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Voulez vous ajouter {{ film.title }} à votre historique?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-bs-dismiss="modal"
                        >
                          Non
                        </button>
                        <form method="POST" action="{{path('app_save_data_history', {tconst: film.tconst})}}"style="display: inline">
                          <input type="hidden" name="_token" value="{{ csrf_token('add_history_' ~ film.tconst) }}"/>
                          <button type="submit" class="btn btn-danger">
                            Oui
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Button modal delete -->
                <button
                  type="button"
                  class="btn btn-primary my-2 d-none d-sm-none d-md-none d-lg-block"
                  data-bs-toggle="modal"
                  data-bs-target="#Modal{{ film.tconst }}"
                  title="Supprimer des favoris"
                >
                  <i class="bi bi-trash3 fs-5"></i>
                </button>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="Modal{{ film.tconst }}"
                  tabindex="-1"
                  aria-labelledby="ModalLabel{{ film.tconst }}"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3
                          class="modal-title fs-5"
                          id="ModalLabel{{ film.tconst }}"
                        >
                          {{ film.title }}
                        </h3>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        Voulez vous supprimer {{ film.title }} de votre liste?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-bs-dismiss="modal"
                        >
                          Non
                        </button>
                        <form method="POST" action="{{path('app_remove_data_get_favorite', {tconst: film.tconst})}}" style="display: inline">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete_favorite_' ~ film.tconst) }}"/>
                          <button type="submit" class="btn btn-danger">
                            Oui
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>

    <div class="col-sm-9 col-md-8 col-lg-8 container detailsFilm">
      <div class="row">
        <p class="col" id="addedAtShow"></p>
        <div class="row col-3 align-items-center">
          <p class="col-6 fs-5" id="ratingShow"></p>
        </div>
      </div>
      <div>
        <h3 class="text-center fs-1" id="titleShow"></h3>
      </div>
      <div class="divAfficheFilm d-flex justify-content-center">
        <img
          src=""
          alt="affiche du film"
          class="rounded-1 detailsAfficheFilm"
          id="posterShow"
        />
      </div>
      <div class="text-center">
        <p class="fs-5">
          <b id="durationShow" class="fw-bold colorJauneMoche"></b>-
          <span id="genreShow"></span>
        </p>
      </div>
      <div class="container col-11">
        <p class="" id="synopsisShow">...</p>
      </div>
      <!-- Button modal history -->
      <div class="row d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary boutonShowHistoryDetails col-12 m-1 d-block d-sm-block d-md-block d-lg-none"
          data-bs-toggle="modal"
          data-bs-target=""
          title="Ajouter à l'historique"
        >
          <i class="bi bi-clock-history col-2 fs-4"></i>
        </button>
        <!-- Modal -->
        <div
          class="modal fade modalFadeShowHistoryDetails"
          id=""
          tabindex="-1"
          aria-labelledby=""
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title fs-5 modalTitleShowHistoryDetails" id="">
                  <!-- Title set by JS -->
                </h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body modalBodyShowHistoryDetails">
                <!-- Body set by JS -->
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Non
                </button>
                <form
                  id="historyForm"
                  method="POST"
                  action=""
                  style="display: inline"
                >
                  <input type="hidden" name="_token" id="csrfToken" value="" />
                  <button type="submit" class="btn btn-danger">Oui</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Button modal delete -->
        <button
          type="button"
          class="btn btn-primary boutonShowDelete col-12 m-1 d-block d-sm-block d-md-block d-lg-none"
          data-bs-toggle="modal"
          data-bs-target=""
        >
          <i class="bi bi-trash3 col-2 fs-4"></i> Effacer le film
        </button>

        <!-- Modal -->
        <div
          class="modal fade modalFadeShowDelete"
          id=""
          tabindex="-1"
          aria-labelledby=""
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title fs-5 modalTitleShowDelete" id=""></h3>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body modalBodyShowDelete"></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >
                  Non
                </button>
                <form
                  id="deleteForm"
                  method="POST"
                  action=""
                  style="display: inline"
                >
                  <input type="hidden" name="_token" id="csrfToken" value="" />
                  <button type="submit" class="btn btn-danger">Oui</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let addedAtShow = document.querySelector("#addedAtShow");
    let ratingShow = document.querySelector("#ratingShow");
    let titleShow = document.querySelector("#titleShow");
    let posterShow = document.querySelector("#posterShow");
    let durationShow = document.querySelector("#durationShow");
    let genreShow = document.querySelector("#genreShow");
    let synopsisShow = document.querySelector("#synopsisShow");
    let mmElement = document.querySelector(".detailsFilm");
    let divScrollElement = document.querySelector(".divScroll");
    let filmInList = document.querySelectorAll(".filmInList");
    let ratings = document.querySelectorAll(".rating");
    //Bouton de suppression modale coté detail Film
    let boutonShowDelete = document.querySelector(".boutonShowDelete");
    let modalFadeShowDelete = document.querySelector(".modalFadeShowDelete");
    let modalBodyShowDelete = document.querySelector(".modalBodyShowDelete");
    let modalTitleShowDelete = document.querySelector(".modalTitleShowDelete");
    let btnOuiDelete = document.querySelector(".btnOuiDelete");
    let deleteForm = document.querySelector("#deleteForm");
    let historyForm = document.querySelector("#historyForm");

    let boutonShowHistoryDetails = document.querySelector(
      ".boutonShowHistoryDetails"
    );
    let modalFadeShowHistoryDetails = document.querySelector(
      ".modalFadeShowHistoryDetails"
    );
    let modalBodyShowHistoryDetails = document.querySelector(
      ".modalBodyShowHistoryDetails"
    );
    let modalTitleShowHistoryDetails = document.querySelector(
      ".modalTitleShowHistoryDetails"
    );
    let btnOuiShowHistoryDetails = document.querySelector(
      ".btnOuiShowHistoryDetails"
    );

    //changement de la couleur des étoiles en fonction de la note
    ratings.forEach((rating) => {
      changeStarColor(rating);
    });

    addedAtShow.textContent =
      "Ajouté le : " + filmInList[0].querySelector(".addedAt").textContent;
    ratingShow.textContent = filmInList[0].querySelector(".rating").textContent;
    ratingCreate = document.createElement("i");
    ratingCreate.classList.add("bi", "bi-star-fill", "px-1");
    ratingShow.appendChild(ratingCreate);
    changeStarColor(document.querySelector("#ratingShow"));
    titleShow.textContent = filmInList[0].querySelector(".title").textContent;
    posterShow.src = filmInList[0]
      .querySelector(".posterFilmList")
      .getAttribute("src");
    posterShow.alt =
      "Affiche du film " + filmInList[0].querySelector(".title").textContent;
    durationShow.textContent = durationToMinutes(
      filmInList[0].querySelector(".duration").textContent
    );
    genreShow.textContent = filmInList[0]
      .querySelector(".genre")
      .textContent.replace(/,/g, ", ");
    synopsisShow.textContent =
      filmInList[0].querySelector(".synopsis").textContent;

    //attribution des valeurs pour le bouton modale delete coté film
    boutonShowDelete.setAttribute(
      "data-bs-target",
      "#Modal" + filmInList[0].querySelector(".tconst").textContent
    );
    modalFadeShowDelete.setAttribute(
      "id",
      "Modal" + filmInList[0].querySelector(".tconst").textContent
    );
    modalFadeShowDelete.setAttribute(
      "aria-labelledby",
      "ModalLabel" + filmInList[0].querySelector(".tconst").textContent
    );
    modalTitleShowDelete.setAttribute(
      "id",
      "ModalLabel" + filmInList[0].querySelector(".tconst").textContent
    );
    modalTitleShowDelete.textContent =
      filmInList[0].querySelector(".title").textContent;
    modalBodyShowDelete.textContent =
      "Voulez vous supprimer " +
      filmInList[0].querySelector(".title").textContent +
      " de votre liste?";
    deleteForm.action =
      "/remove/data/getRemove/" +
      filmInList[0].querySelector(".tconst").textContent;
    deleteForm.querySelector('[name="_token"]').value =
      "{{ csrf_token('delete_favorite_') }}" +
      filmInList[0].querySelector(".tconst").textContent;

    //attribution des valeurs pour le bouton modale coté historique
    boutonShowHistoryDetails.setAttribute(
      "data-bs-target",
      "#ModalHistory" + filmInList[0].querySelector(".tconst").textContent
    );
    modalFadeShowHistoryDetails.setAttribute(
      "id",
      "ModalHistory" + filmInList[0].querySelector(".tconst").textContent
    );
    modalFadeShowHistoryDetails.setAttribute(
      "aria-labelledby",
      "ModalLabelHistory" + filmInList[0].querySelector(".tconst").textContent
    );
    modalTitleShowHistoryDetails.setAttribute(
      "id",
      "ModalLabelHistory" + filmInList[0].querySelector(".tconst").textContent
    );
    modalTitleShowHistoryDetails.textContent =
      filmInList[0].querySelector(".title").textContent;
    modalBodyShowHistoryDetails.textContent =
      "Voulez vous supprimer " +
      filmInList[0].querySelector(".title").textContent +
      " de votre liste?";
    historyForm.action =
      "/save/data_history/" +
      filmInList[0].querySelector(".tconst").textContent;
    historyForm.querySelector('[name="_token"]').value =
      "{{ csrf_token('add_history_') }}" +
      filmInList[0].querySelector(".tconst").textContent;

    filmInList.forEach((film) => {
      film.addEventListener("click", () => {
        addedAtShow.textContent =
          "Ajouté le : " + film.querySelector(".addedAt").textContent;
        ratingShow.textContent = film.querySelector(".rating").textContent;
        ratingCreate = document.createElement("i");
        ratingCreate.classList.add("bi", "bi-star-fill", "px-1");
        ratingShow.appendChild(ratingCreate);
        titleShow.textContent = film.querySelector(".title").textContent;
        posterShow.src = film.querySelector(".posterFilmList").src;
        posterShow.alt =
          "Affiche du film " + film.querySelector(".title").textContent;
        durationShow.textContent = durationToMinutes(
          film.querySelector(".duration").textContent
        );
        genreShow.textContent = film
          .querySelector(".genre")
          .textContent.replace(/,/g, ", ");
        synopsisShow.textContent = film.querySelector(".synopsis").textContent;
        //equalizeColumnHeights();
        changeStarColor(document.querySelector("#ratingShow"));

        //attribution des valeurs pour le bouton modale delete coté film
        boutonShowDelete.setAttribute(
          "data-bs-target",
          "#Modal" + film.querySelector(".tconst").textContent
        );
        modalFadeShowDelete.setAttribute(
          "id",
          "Modal" + film.querySelector(".tconst").textContent
        );
        modalFadeShowDelete.setAttribute(
          "aria-labelledby",
          "ModalLabel" + film.querySelector(".tconst").textContent
        );
        modalTitleShowDelete.setAttribute(
          "id",
          "ModalLabel" + film.querySelector(".tconst").textContent
        );
        modalTitleShowDelete.textContent =
          film.querySelector(".title").textContent;
        modalBodyShowDelete.textContent =
          "Voulez vous supprimer " +
          film.querySelector(".title").textContent +
          " de votre liste?";
        deleteForm.action =
          "/remove/data/getRemove/" + film.querySelector(".tconst").textContent;
        deleteForm.querySelector('[name="_token"]').value =
          "{{ csrf_token('delete_favorite_') }}" +
          filmInList[0].querySelector(".tconst").textContent;

        boutonShowHistoryDetails.setAttribute(
          "data-bs-target",
          "#ModalHistory" + film.querySelector(".tconst").textContent
        );
        modalFadeShowHistoryDetails.setAttribute(
          "id",
          "ModalHistory" + film.querySelector(".tconst").textContent
        );
        modalFadeShowHistoryDetails.setAttribute(
          "aria-labelledby",
          "ModalLabelHistory" + film.querySelector(".tconst").textContent
        );
        modalTitleShowHistoryDetails.setAttribute(
          "id",
          "ModalLabelHistory" + film.querySelector(".tconst").textContent
        );
        modalTitleShowHistoryDetails.textContent =
          film.querySelector(".title").textContent;
        modalBodyShowHistoryDetails.textContent =
          "Voulez vous ajouter " +
          film.querySelector(".title").textContent +
          " à votre historique?";
        historyForm.action =
          "/save/data_history/" + film.querySelector(".tconst").textContent;
        historyForm.querySelector('[name="_token"]').value =
          "{{ csrf_token('add_history_') }}" +
          filmInList[0].querySelector(".tconst").textContent;

        console.log(film);
      });
    });
    function durationToMinutes(duration) {
      let parsedDuration = parseInt(duration, 10);
      if (isNaN(parsedDuration)) {
        return "Durée inconnue";
      }
      let minutes = Math.floor(parsedDuration / 60);
      let seconds = parsedDuration % 60;
      return `${minutes}h ${seconds}min`;
    }

    function changeStarColor(rating) {
      let ratingValue = parseFloat(rating.textContent);
      if (isNaN(ratingValue)) {
        return;
      }
      if (ratingValue < 5.5) {
        rating.querySelector(".bi-star-fill").style.color = "red";
      } else if (ratingValue < 6) {
        rating.querySelector(".bi-star-fill").style.color = "orange";
      } else if (ratingValue < 6.5) {
        rating.querySelector(".bi-star-fill").style.color = "yellow";
      } else if (ratingValue < 7) {
        rating.querySelector(".bi-star-fill").style.color = "lightgreen";
      } else if (ratingValue < 7.5) {
        rating.querySelector(".bi-star-fill").style.color = "lime";
      } else {
        rating.querySelector(".bi-star-fill").style.color = "DeepSkyBlue";
      }
    }
    /*function equalizeColumnHeights() {
      if (detailsFilmElement && divScrollElement) {
        const scrollTop = divScrollElement.scrollTop;

        // Réinitialiser la hauteur de divScroll pour que detailsFilm ait sa hauteur naturelle
        divScrollElement.style.height = "auto";

        const detailsHeight = detailsFilmElement.offsetHeight;
        divScrollElement.style.height = detailsHeight + "px";

        // Restaurer la position de défilement
        divScrollElement.scrollTop = scrollTop;
      }
    }*/
  });

  // --- Début du code d'égalisation des hauteurs ---
</script>
{% endblock %}
