{% extends 'base2.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block main %}

<div class="container ">
            <div class="container col-12 ">
                  <div class="row justify-content-evenly">
                        <div class=" col-5 d-flex flex-column justify-content-center">
                              <div class="container">
                                    {# <img src="https://image.tmdb.org/t/p/original{{films[0].posterPath}}" alt="affiche du film Jurassic Park" class="img-film rounded-1" /> #}
                              </div>
                              <div class="container d-flex justify-content-around fs-3">
                                    <i class="bi bi-x-circle"></i>
                                    <i class="bi bi-heart"></i>
                              </div>
                        </div>
                        <div class="col-5 d-flex flex-column justify-content-center">
                              <div class="col-12 mb-5 border border-2 border-dark">
                                    {# <h2 class="text-center fw-bold fs-2 ">{{films[0].title}}</h2> #}
                                    {# <h4 class="text-center">{{films[0].releaseDate}} - {{films[0].genres}} - {{films[0].duration}}</h4> #}
                              </div>
                              <div class="row ">
                                {# {% for name, jobs in films[0].importantCrew %} #}
                                     <div class="col-4">
                                        {# <h5>{{ name }}</h5> <!-- Affiche le nom de la personne --> #}
                                        {# <p>{{ jobs }}</p> <!-- Affiche les jobs associés sous forme de chaîne --> #}
                                     </div>
                                {# {% endfor %} #}
                
                              </div>
                              <h4>Synopsis</h4>
                              {# <p>{{films[0].synopsis}}</p> #}
                              <h4>Casting</h4>
                              <ul class="row">
                                {# {% for actor in films[0].actors %} #}
                                    
                                {# <li class="col">{{actor.name}}</li> #}
                                {# {% endfor %} #}
            
                              </ul>


                        </div>
                  </div>
            </div>
    </div>


    <script>
        // Récupérer la variable PHP encodée en JSON par Twig
        // Le filtre |json_encode s'occupe de la conversion et de l'échappement.
        // Le filtre |raw est important ici pour que les guillemets du JSON ne soient pas double-échappés par Twig.
        let films = [];
        films = {{ films|json_encode|raw }};

       
        console.log(films); 

        
    
       

        
    </script>
    
{% endblock %}

